<!DOCTYPE html>
<html>
  <head>
   {%block head%} default head {%endblock head%}  
  </head>
  <body>
  
    <a href = "/" style="margin-right:20px;"> 
  Главная
  </a>  
  <a href = "/login/login/" style="margin-right:20px;"> 
  Вход
  </a>
    <a href = "/words/learn/" style="margin-right:20px;"> 
  Обучение
  </a>
    <a href = "/words/train/" style="margin-right:20px;"> 
  Тренировка
  </a>
    <a href = "/login/logout/" style="margin-right:20px;"> 
  Выход
  </a>
      <a href = "/login/register/" style="margin-right:20px;"> 
  Регистрация
  </a>
  
  {%block body%} default body {%endblock body%} 
  </body>
</html>